<div class="functionalities-container">
  <img class="btn_googleLogin"
    src="https://raw.githubusercontent.com/devfd/react-native-google-signin/master/img/signin-button.png"
    (click)="btn_LoginWithGoogle($event)" />
  <div id="mapid"></div>
  <share-buttons [theme]="'material-dark'" [include]="['facebook', 'twitter', 'copy']" [show]="3" [size]="30"
    [url]="'https://drive.google.com/u/1/uc?id=13t4F-Lm9dp5gnVX77TYrym0-_PpwjMbQ&export=download'"
    [autoSetMeta]="false">
  </share-buttons>
  <ng-adsense class="adsenseblock" [adClient]="'ca-pub-4194457390914226'" [adSlot]="1364163650"
    [display]="'inline-block'" [adFormat]="'auto'" [fullWidthResponsive]="true">
  </ng-adsense>
</div>
